@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap-theme.css";
@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.css";
@import "~tether/dist/css/tether.css";

body{
    background-image: url("../img/bg.jpg");
    background-size: cover;
}

.wrapper
{
    background-color: white;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.wrapper .input-group
{
    padding-left: 5px!important;
    padding-right:5px!important;
}

.form-group .row
{
    margin-left:0px;
    margin-right:0px;
}
.findQuotes
{
    margin-top:15px!important;

}


.vertical-center
{

    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;

}

h2
{
    margin-bottom: 35px!important;
}

.listing{
    border-radius:2px;
    padding:15px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);

}

.listing .row  div.upper
{

    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: dimgray;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: dimgray;
    padding-top: 35px;
    text-align: center;
    min-height: 100px!important;
}

.listing .row  div.lower
{

    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: dimgray;

    padding-top: 35px;
    min-height: 100px!important;
}

.coverage
{

    text-align: center;
}

.coverage h3, .coverage h2
{
    margin-top:5px;
    margin-bottom:5px;
}

.prices
{
    text-align: center;
    padding-top:69px;
}

.prices h4
{
    color:green;
    font-weight:700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;

}